server:
  port: 8080

spring:
  application:
    name: wallet-service

  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb+srv://manuelguarnizog_db_user:slmEouXGl5LaTDbg@clustereciexpress.m7ljcsf.mongodb.net/?appName=ClusterECIEXPRESS}
      database: Wallet-db

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

# Configuración de Swagger/OpenAPI
springdoc:
  api-docs:
    path: /api-docs
    enabled: true

  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: alpha
    tags-sorter: alpha
    doc-expansion: none
    display-request-duration: true
    filter: true

  show-actuator: false
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  cache:
    disabled: true

  info:
    title: Wallet Service API
    version: 1.0.0
    description: API para la gestión del monedero virtual de los usuarios en ECIEXPRESS

logging:
  level:
    org.springframework.data.mongodb: INFO
    org.springdoc: INFO
    ECIEXPRESS.AmaterasuPagos.Wallet._BackEnd: DEBUG